<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>MovieTheater</title>

    <!-- 공통으로 사용할 CSS plugins -->
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{plugins/bootstrap/css/bootstrap.min.css}">
    <!-- 공통으로 사용할 커스터마이징 된 CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet"
          th:href="@{plugins/swiper/package/swiper-bundle.min.css}"/>

    <!-- 각 페이지의 CSS가 작성될 위치지정 -->
    <th:block layout:fragment="css"></th:block>

</head>
<body>
<div class="wrap">
    <div th:replace="fragments/header::header"></div>

    <div layout:fragment="content" class="content"></div>

    <div th:replace="fragments/footer::footer"></div>
</div>


<!-- 공통으로 사용할 JS plugins -->
<!-- initialize jQuery Library -->
<script th:src="@{plugins/jquery/jquery.js}"></script>
<!-- Bootstrap jQuery -->
<script th:src="@{plugins/bootstrap/js/bootstrap.min.js}"></script>
<!-- Swiper JS -->
<script th:src="@{plugins/swiper/package/swiper-bundle.min.js}"></script>
<!-- 공통으로 사용할 커스터마이징 된 JS -->
<script th:src="@{js/custom.js}"></script>

<!-- 각 페이지의 JS가 작성될 위치지정 -->
<th:block layout:fragment="script"></th:block>
</body>
</html>