<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:fragment="header">
    <!-- nav 바 -->
    <nav class="navbar navbar-dark nav__bg">
        <div class="container">
            <a class="navbar-brand" href="/"
            ><img src="images/logo.png" alt="로고"/>
            </a>
            <form class="d-flex" role="search">
                <label for="q"></label>
                <input
                        class="form-control me-2 head-search"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                        id="q"
                        name="q"
                        alt="검색창"
                />
                <a class="searchBtn" alt="검색창">Search</a>
            </form>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar"
                    aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                    class="offcanvas offcanvas-end text-bg-dark nav__bg"
                    tabindex="-1"
                    id="offcanvasDarkNavbar"
            >
                <div class="offcanvas-header">
                    <button
                            type="button"
                            class="btn-close btn-close-white"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-log" th:if="${session.name == null}">
                    <a href="/register" class="log__btn">
                        회원가입
                    </a>
                    <a href="/login" class="log__btn">로그인</a>
                </div>
                <div class="offcanvas-log" th:unless="${session.name == null}">
                    <div class="d-flex align-items-center ms-4 mb-4">
                        <div class="ms-3">
                            <h6 class="mb-0" th:text="${session.name} + '님'"></h6>
                            <span th:text="'잔액:' + ${session.balance} + '원'"></span>
                        </div>
                    </div>
                </div>
                <div class="offcanvas-log" th:unless="${session.name == null}">
                    <div class="ms-3">
                        <a href="/charge" class="log__btn">잔액 충전</a>
                        <a href="/logout" class="log__btn">로그아웃</a>
                    </div>
                </div>
                <hr />
                <div class="offcanvas-body">
                    <ul
                            class="navbar-nav justify-content-end flex-grow-1 pe-3"
                    >
                        <li class="nav-item">
                            <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/menu?site=now_playing&page=1"
                            >현재 상영중</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/menu?site=popular&page=1"
                            >인기 영화</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/menu?site=top_rated&page=1"
                            >최고 평점</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/menu?site=upcoming&page=1"
                            >개봉 예정</a
                            >
                        </li>
                        <li class="nav-item" th:unless="${session.name == null}">
                            <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/reserve"
                            >영화 예매</a>
                        </li>
                        <li class="nav-item" th:unless="${session.name == null}">
                            <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/reserview"
                            >예매 확인</a>
                        </li>
                        <li class="nav-item" th:unless="${session.name == null}">
                            <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/list"
                            >영화 리뷰</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </header>
</head>
</html>